body{
  font-family: 'Raleway', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}
/* Nav Bar */

nav.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #e4ad1e;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

nav div.container {
  margin: auto;
  width: 80%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
}

a.logo {
  font-size: 2.5em;
}

a.btn {
  border: 1px solid #fff;
  font-size: 20px;
  line-height: 25px;
  padding: 15px;
  background: #0cb7ed;
  border-radius: 5px;
  transition: 0.5s;
}

a.btn:hover {
  background: #fff;
  color: #0cb7ed;
}

/* Cover Section */

div.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
  text-align: center;
  padding-bottom: 45px;
  font-size: 20px;
  min-height: 30rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.8);
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../img/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1140px;
  padding: 20px;
}

div.container h1 {
  margin-bottom: 80px;
  font-size: 2.2em;
  font-weight: 700;
  text-transform: capitalize;
}

div.container p {
  margin-bottom: 45px;
  font-size: 25px;
  line-height: 30px;
}

.container form input {
  font-size: 20px;
  border-radius: 3px;
  padding: 15px;
  border: none;
}

/* Sub Title */
h2.sub-title {
  display: block;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  margin: 15px auto;
  position: relative;
}

h2.sub-title::after {
  content: "";
  width: 200px;
  height: 2px;
  display: block;
  margin: 20px auto 0 auto;
  background-color: #000;
}


/* Products Section */

.products {
  margin: 80px 0 80px 0;
}

.products .container {
  margin: auto;
  max-width: 1140px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products .card {
  position: relative;
  border-radius: 5px;
  width: calc((100% - 3em) / 3);
  margin: 1.5em 0.5em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: rgb(231, 176, 53);
  overflow: hidden;
  text-align: center;
} 

.small-business {
  transform: translateX(-100px);
  opacity:  0;
  transition: all 0.5s ease-in;
  transition-property:  transform, opacity;
}

.corporation {
  transform:  scale(0);
  transition:  transform 0.6s ease-in;
}

.start-ups {
  transform: translateX(100px);
  opacity:  0;
  transition: all 0.5s ease-in;
  transition-property:  transform, opacity;
}

body.scroll .small-business {
  transform: translateX(0);
  opacity:  1;
}

body.scroll .corporation {
  transform:  scale(1);
}

body.scroll .start-ups {
  transform: translateX(0);
  opacity:  1;
}

.thumbnail img {
  width: 100%;
}

.card h2 {
  margin: 10px auto;
  font-size: 1.8em;
  color: #fff;
}

.card .tags {
    margin-bottom: 1.4em;
}

.card p {
    margin: 0.5em 0;
}

.card .tag {
  border-radius: 12px 0 0 12px;
  display: inline-block;
  padding: 2px 4px 3px;
  background-color: rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 12px;
  text-align: center;
}

.tag:first-child {
  font-weight: bold;
  padding-left: 8px;
}

.tag:last-child {
  font-weight: bold;
  padding-right: 8px;
  border-radius: 0 12px 12px 0;
}

.tagline {
  font-size: 12px;
}

 .action {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.3);
}

.action .card-btn {
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  color: #fff;
  background-color: #0cb7ed;
  padding: 0.6em 0.8em;
  margin: 0 0.4em;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.5s;
}

.action .card-btn:hover {
  background-color: #fff;
  color: #0cb7ed;
}

/* ABOUT SECTION */

.col {
  display:  flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
}

.row {
  display:  flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0;
}

.row-1 img, .row-3 img {
  order: 1;
  margin-left:  20px;
}

.row-2 img {
  margin-right:  20px;
}

.row img{
  border-radius:  5px;
}

.row img, .row p {
  width: 40%;
}

a.social {
  color: rgb(231, 176, 53);
  border-bottom:  1px solid transparent;
  transition: border-bottom 0.5s ease-in-out;
}

a.social:hover {
  border-bottom: 1px solid rgb(231, 176, 53);
}

/* Footer Start */
footer {
  padding: 6em 0;
  background: #e4ad1e;
  color: #fff;
  margin-top: 50px;
}

footer div.container {
  margin: auto;
  max-width: 1140px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.contact h3 {
  font-size: 21px;
  font-weight:  700;
  text-align: center;
  margin-bottom:  10px;
}

.contact li {
  margin-bottom: 10px;
}

div.icons a {
  margin: 5px;
}

div.icons a i {
  font-size: 2.5em;
  transition: 0.5s;
}

div.icons a i:hover {
  font-size: 2.5em;
  color: #0cb7ed;
}


/* MEDIA QUERIES */

@media(max-width: 945px){
  .products .card, .row img, .row p {
    flex: 1 1 40%;
  }

}

@media(max-width: 800px){
  .row p {
    font-size:  18px;
    line-height: 23px;
  }
}


@media(max-width: 700px){
  div.container h1 {
    font-size: 1.5em;
  }

div.container p {
    font-size: 18px;
    line-height: 23px;
  }

.container form input {
    font-size: 15px;
  }

 footer div.container {
  flex-direction:  column;
  justify-content:  center;
  align-items:  center;
}

.contact{
  margin: 25px 0 ;
  } 

}

@media(max-width: 630px){
  .products .card {
    flex-basis:100%;
  }
  
  .row {
    flex-direction: column;
  }

  .row img, .row p {
    width:  100%;
  }

  .row-1 img, .row-3 img {
    margin-left: 0;
  }
  .row-2 img{
    margin-right:  0;
  }

  .row p {
    order:  1;
    margin-top: 20px;
  }

} 


@media (max-width: 455px) {

a.logo {
  font-size: 1.5em;
}

nav div.container a.btn {
  padding:  10px;
  font-size:  15px;
  line-height:  20px;
}

.container form {
    display:  flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  } 

.container form a.btn {
    margin-top:  25px;
  }
}